<!DOCTYPE html>
<html>

<body ng-app="myapp">
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"></a>
        </div>
        
      </div>
    </div>
    <div class="row">
    	<div class="col-sm-3 col-md-2 sidebar"></div>
			<div class="col-sm-9" ng-controller="tableController" style="padding-top: 100px">
			 	<table class="table">
			 		<tr>
			 		<th></th>
			 		<th><a href="" ng-click="predicate = 'host'; reverse=false">Host</th>
				 	<th><a href="" ng-click="predicate = 'ip'; reverse=false">IP</a></th>
				 	<th><a href="" ng-click="predicate = 'status'; reverse=false">Status</th>
				 	<th><a href="" ng-click="predicate = 'state'; reverse=false">State</th>
			 		</tr>
			 		<tr ng-repeat="subnet in subnets | orderBy:predicate:reverse">
			 			<td id="item_{{$index}}" ng-click="expand($event)">.</td>
			 			<td>{{subnet.host}}</td>
			 			<td>{{subnet.ip}}</td>
			 			<td>{{subnet.status}}</td>
			 			<td>{{subnet.state}}</td>
			 		</tr>
			 	</table>
			</div>
		</div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
<script src="myapp.js"></script>
</body>
</html>